<body>
  <div class="menu">
    <h1 style="margin-bottom: 1.5em">Converter texto para sigilos</h1>

    <div style="margin-bottom: 2em">
      <select
      (change)="textWrote = ''"
        #sigiloSelect
        style="
          background: none;
          border: none;
          color: #fff;
          outline: none;
          font-size: 1.2em;
        "
      >
        <option style="color: #000" value="0">Sigilos do Conhecimento</option>
        <option style="color: #000" value="1">Sigilos do Estrangeiro</option>
      </select>
    </div>

    <textarea
      type="text"
      style="width: 45vw; height: 100px; background: none; color: #fff"
      class="input-original-text"
      [(ngModel)]="textWrote"
    ></textarea>

    <h3>Resultado</h3>

    <button class="btn-copy" (click)="downloadImage()" *ngIf="textWrote">
      Baixar em formato .png
    </button>

    <div class="result-conversion">
      <span
        id="texto"
        [style]="
          sigiloSelect.value === '0'
            ? 'font-family: Conhecimento;'
            : 'font-family: Estrangeiro;'
        "
        style="
          font-size: 2em;
          color: #e7e7e7;
          background: #1a1919;
          border: none;
        "
        #originalText
        [innerHTML]="getFormattedText()"
      ></span>
    </div>
  </div>
</body>
