/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Conhecimento;
  src: url(/assets/font/conhecimento.ttf);
}

@font-face {
  font-family: Estrangeiro;
  src: url(/assets/font/estrangeiro.ttf);
}

body {
  background: #1a1919;
  color: #fff
}
