/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Sigilos;
  src: url(/assets/font/sigilos.ttf);
}

body {
  background: #1a1919;
  color: #fff
}
